.chart {
    margin: auto;
    padding: 0rem 2rem 0rem 0rem;
    background-color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    display: flex;
}