.App {
  text-align: center;
}

body {
  background-color: rgb(242,242,242);
}

.Main-App {
  background-color: rgb(188, 206, 214,0.15);
}

.Loading-Container {
  text-align: center;
  display:inline-block;
  position:fixed;
  top:50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  /* background-color: #005E46; */
}

.App-logo {
  width: 200px;
  padding-bottom: 0;
}

.App-Header-Page-Title {
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: #EFEFEF;
  background-color: #ffffff;
}

.Page-Header {
  background-color: #F8F8F8;
  padding: 5px;
  font-weight: 550;
  color: #186836;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  /* font-size: 1.5rem; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.Chart-Style {
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 50%;
  left: 50%;
  margin: 2rem;
  height: 100%;
}

/* .Line-Chart-Style {
  padding: 30px 70px 30px 30px;
  margin: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%; */
  /* padding: 20px; */
  /* display: flex; */
/* } */

.Button-Container {
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: #EFEFEF;
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  border: solid black 0.15px;
  border-radius: 4px;
  display: inline-flex;
  /* padding: 5px 5px 5px 5px; */
}


.Filter-Nav {
  padding:0;
  margin: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  position: relative;
  width: 100%;
  /* width: 100%; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


