.App {
  text-align: center;
}

.Main-App {
  background-color: rgb(188, 206, 214,0.15);
}

.Loading-Container div {
  justify-content: center;
  text-align: center;
  background-color: #005E46;
  /* width: 100%; */
  margin: 0 0 50px 0;
  padding: 100px;
}

.App-Header-Page-Title {
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: #EFEFEF;
  background-color: #ffffff;
}

.Page-Header {
  background-color: #F8F8F8;
  padding: 5px;
  /* font-size: 1.5rem; */
  font-weight: 550;
  color: #186836;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.Chart-Style {
  padding: 30px 80px 30px 30px;
  /* padding: 20px; */
  margin: 70px;
  margin-bottom: 0;
  height: 100%;
  /* display: flex; */
}

.Line-Chart-Style {
  padding: 30px 80px 30px 30px;
  /* padding: 20px; */
  margin: 70px;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  /* display: flex; */
}

/* .chart hr {
  width: 100%;
  border: none;
  height: 1.5px;
  background: #dddddd;
} */

.Button-Container {
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: #EFEFEF;
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  
}

.Button-Container div {
  display: inline-flex;
  background-color: #ffffff;
  padding: 5px 5px 5px 10px;
  /* border-radius: 40px; */
  
}

.Filter-Nav {
  padding: 15px;
  /* font-size: 1.5rem; */
  font-weight: 550;
  color: #186836;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


